{% extends 'base.html' %}

{% block title %}
Login In! - Scrumptious Recipes
{%endblock title%}

{%block content%}
<header>
    <nav class="nav-class">
        <a class= nav-bar href="{% url 'recipe_list' %}"> Main Page </a>
    </nav>
</header>
<main class="main-class">
    <h1> Login! </h1>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button> Submit </button>
    </form>
</main>
{%endblock content%}