{% load static %}
<!DOCTYPE html>
<html>
    <head> 
        <title> {% block title %}{% endblock title %}</title>
        <link rel='stylesheet' href="{% static 'css/recipes.css' %}">
    </head>
    <body class ='body-class'>
        {% block content%} {% endblock content%}
        <footer class="footer-class">Made with love by Scrumptious Recipes</footer>

    </body>
</html>