{% extends 'base.html' %}

{% block title %} 
Scrumptious Recipes
{% endblock title%}

{% block content %} 
        <header>
            <nav class="nav-class">
                <a class= nav-bar href='{% url "recipe_list" %}'>Main Page</a>
            </nav>
        </header>
        <main class="main-class">
            <form method = 'post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button> Create </button>
            </form>
        </main><br>
        {% endblock content %}