{% extends 'base.html' %}

{% block title %} 
Scrumptious Recipes
{% endblock title%}

{% block content %}  
        <header>
            <nav class="nav-class">
                <a class= nav-bar href="{% url 'recipe_list' %}">Main Page  </a>
                <a class= nav-bar href = "{% url 'edit_recipe' recipe_object.id %}">  Edit a Recipe </a> 
            </nav>
        </header>
        <main class="main-class">
            <h1>{{ recipe_object.title }}</h1><br>
            <img class="image-class" src= '{{recipe_object.picture}}'>
            <div>4.3 stars</div><br>
            <p>{{ recipe_object.created_on|date:'F j, Y '}}
            <p> {{ recipe_object.description }} </p>
            <h2>Ingredients</h2><br>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ingredient.food_item}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table><br>
            <h2>Steps</h2><br>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li> {{ step.instructions }}
                {% endfor %}

            </ol>
        </main><br>
        {% endblock content %}