{% extends 'base.html' %}

{% block title %} 
Scrumptious Recipes
{% endblock title%}

{% block content %}

        <header>
            <nav class ='nav-class'>
                <a class= nav-bar href="{% url 'recipe_list' %}">Main Page </a>
                {% if user.is_authenticated %}
                <p class= nav-bar > Hello, {{user.username}} </p>
                <a class= nav-bar href="{% url 'my_recipe_list' %}">My recipes | </a>
                <a class= nav-bar href="{% url 'create_recipe' %}"> Create a Recipe | </a>
                <a class= nav-bar href="{% url 'user_logout' %}"> Logout <a/> 
                {% else %}
                <a class= nav-bar href="{% url 'signup' %}"> Sign up <a/> 
                <a class= nav-bar href="{% url 'user_login' %}"> Login <a/>                    
                {% endif %}
                
            </nav>
        </header>



        <main class ='main-class'>
            <h1>Scrumptious Recipes</h1> <br>
            <h2>All the food that's fit to eat</h2><br>
            
                <div class ='container'>
                    {% for recipe in recipe_list %}
                        <div>
                            <h3>
                                <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
                            </h3>
                        
                            <br>
                            <img class ="image-class" src="{{recipe.picture}}">
                            <div>4.3 stars</div>
                            <p>{{ recipe.created_on|date:'N j, Y,  G:i a'}}</p>
                        </div><br>
                    {% endfor %}
                </div>

        </main>
        {% endblock content %}


        {% comment %} | default: "https://placekitten.com/g/200/300"  {% endcomment %}