* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .body-class {
    margin: 0;
    padding: 0;
  }

  .main-class {
    padding: 16px;
  }

  .foot-class {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-class {
    width: 100%;
  }

  .nav-class {
    border-bottom: 1px rgb(53, 45, 45);
    padding: 16px;
    background-color: rgb(230, 96, 123);
  }
  .nav-bar{
    color:aliceblue;
  }

  .container {
    display: grid;
    grid-template-columns: 50px 150px 50px 150px 50px 150px 50px 150px;
    grid-template-rows: 75px 300px; 
    column-gap: 1px;
    row-gap: 200px;
  }

  a:link {
    text-decoration: none;
}

a {
  color: green;
}

h1 {
  color: green;
}

footer {
  background-color: lightblue;
  padding: 20px
}